@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: #1e2021;
  --background-light: #f2f3f7;

  --border-dark: #35363d;

  --accent-color-dark: #393a3f;

  --b-active: #9966ff;

  /* Theme Color */
  --primary-color: #3474f0;
  --primary-color-darker: #11255a;
}

@layer base {
  :root {
    --background: var(--background-light);
    --foreground: 222.2 84% 4.9%;

    --card: #f3f3f4;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: var(--primary-color);
    --primary-foreground: #fff;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: #d8d8d9;
    --muted-foreground: #6b7083;

    --accent: #eceff5;
    --accent-foreground: #3b3d41;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: #dee3ea;
    --input: 214.3 31.8% 91.4%;
    --ring: #3474f0;

    --radius: 0.5rem;
  }

  .dark {
    --background: var(--background-dark) !important;
    --foreground: #dadae1;

    --card: #2b2c30 !important;
    --card-foreground: #dadae1;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: var(--primary-color);
    --primary-foreground: #ffff;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: #73767c;

    --accent: var(--accent-color-dark);
    --accent-foreground: #b0b4c2;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: var(--border-dark) !important;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.18);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.27);
}

.element_selected {
  outline: #9966ff solid !important;
}
.element_toolbox {
  opacity: 1 !important;
}

.fast-transition {
  transition: all 0.2s ease-in-out;
}

.slow-transition {
  transition: all 0.8s ease-in-out;
}
